.userReg
{
    
    height:30rem;
    padding-right:25rem;
    padding-top:5rem;
    padding-left:25rem;
    background-color:inherit;
    background-image: url('\login-background\ \(1\).jpg');
    background-size:cover;

     mat-form-field
     {
         display:block;
     }
}